
.container{
    background-color: yellowgreen;   
    border: 3px solid red;
    display: grid; 
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(5,50px);
    
}

.box{
    background-color: blueviolet;
    border: 3px solid black;  
}
#box1{
    /* expanding the block to 1 coloumn to another coloumn (line )*/
    grid-column-start: 1;
    grid-column-end: 4;
}

#box2{
    grid-row-start: 1;
    grid-row-end: 4;
}