.container{
    background-color: yellow;
    border: 1px solid red;
    height: 700px;

    display: grid;
    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px; */

    /* Name the rows and coloumn */
    /* grid-template-areas: "hd" 
    "side"
    "main"
    "ft"; */

    /* or see upper o/p(un comment it) and then lower output*/
    grid-template-rows: 30px  500px 30px ;
    grid-template-columns: 200px 400px;
    grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    background-color: aqua;
    border: 1px solid yellow;
    /* height: 100px;
    width: 100px; */

}
#header{
    /* placing the header in hd(gta) */
    grid-area: hd;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
#footer{
    grid-area: ft;
}