#navbar{
    background-color:#0f1111;
    height: 60px;

}

a{
    color : white;
    text-decoration: none;
    margin-right: 200px;
    
}
#l1{
color : rgb(132, 57, 0);
font-size: 25px;
}
button{
    background-color: #f08804;
    color : white;
}    