*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    height: 700px;
    background-color: yellow;
    width: max-content;
    display: grid;

    grid-template-columns: 200px  400px ;
    grid-template-rows: 30px 1fr 30px;
    grid-gap: 10px;
    grid-template-areas: 
    "hd hd "
    "side main "
    "ft ft ";

    /* place-content: center; */
    
}

.box {
    border: 1px solid blue;
    background-color: blueviolet;
}

#Header {
    grid-area: hd;
}

#side {
    grid-area: side;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: ft;
}
.child{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    grid-gap: 5px;
}
.elements{
    border: 2px solid green;
    background-color: hotpink;
}