#wrapper{
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    width: max-content;
}
.container{
    background-color: yellowgreen;
    /* height: max-content; */
   
    border: 3px solid red;
    display: grid;
    /* width: max-content; */
    /* To create coloum (below three coloumn are created of 100px)*/
    grid-template-columns: 100px 100px 100px;
    /* another way to create column ( equal length and width)*/
    grid-template-columns: 1fr 1fr 1fr;

    /* another way to create a coloumn (number of grid , size of grid*/
    grid-template-columns: repeat(4,80px);

/* ----------------------------------------------------------------------------------------- */
    /* creating the rows by grid */
    grid-template-rows: 90px 90px;

    /* Another way to create row of equal length*/
    grid-template-rows: 1fr 1fr ;

    /* another way to create row using grid */
    grid-template-rows: repeat(2,100px);
    row-gap: 20px;
    gap: 30px;

    /*  */
}
.ctn2{
    margin-left: 20px;
    flex-basis: 200px;
}
.box{
    background-color: blueviolet;
    border: 3px solid black;
    /* width: 70px; */
    /* height: 80px; */
    
}
#box1{
    /* expanding the block to 1 coloumn to another coloumn (line )*/
    grid-column-start: 1;
    grid-column-end: 4;
}