
:root{
    /* declaring the variable gloabally   to declare a variable we use --varname . The scope of the variable is gloabal because we have used root*/
    --dark: blue;
}

.conatiner{
    border: 1px solid red;
    background-color: brown;
    height: 300px;
    width: 300px;

}

.box{
    border: 2px solid green;
    background-color: aqua;
     /* to declare a variable we use --varname . The scope of the variable is only the box class*/
    --dark: green;
    color: var(--dark);
}